#content {
    padding-top: 6em;
}


/* POST */

.ui.red.label {
    display: flex;
    margin-left: 10px !important;
}

.ui.fluid.card>.content>.description {
    font-size: 1.25em;
}

.ui[class*="bottom attached"].buttons .button:first-child {
    border-radius: 0;
}

.ui.card>.content>.image {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0;
    background: rgba(0, 0, 0, .05);
    margin: -1em -1em 0 -1em;
}

.ui.card>.content>.image>img {
    width: 100%;
}

.ui.card>.content>.description {
    padding-top: 0.5em;
}


/* COMMMENT */

.comment .content.hidden,
.comment .image.hidden {
    display: none !important;
}


/* CSS for adding new comment on post */

.extra.content>.ui.fluid.left.labeled.right.icon.input>.ui.form {
    width: 100%;
}

textarea.newcomment {
    border-radius: 0 .28571429rem .28571429rem 0 !important;
    height: 48px;
}

.extra.content>.ui.fluid.left.labeled.right.icon.input>.ui.label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    height: 48px;
}

.extra.content>.ui.fluid.left.labeled.right.icon.input>.ui.label>img {
    margin: 0;
    width: 3em!important;
}

.extra.content>.ui.fluid.left.labeled.right.icon.input>i.big.send.link.icon {
    margin-right: 4px;
}


/* NOTIFICATION POPUPS */


/* https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image */

.ui.sticky.notificationPopup .label {
    overflow: hidden;
    width: 3em;
    height: 3em;
}

img.popupNotificationImage {
    width: 100%;
    height: 100%;
    display: inline;
    margin: 0 auto;
}

#removeHidden,
#removeHiddenMobile {
    display: none;
}

#desktopPopup,
#mobilePopup {
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    display: none;
    cursor: pointer;
}