@charset "utf-8";

/* ---- GENERAL ---- */

body {
    background-color: #F5F8FA;
    padding: 0em;
}

.hidden {
    display: none;
}

#pagegrid {
    padding-bottom: 50px;
    justify-content: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}


/* --- HEADER & FOOTER ---- */

#logo {
    width: 125px;
}

.ui.menu.testDriveHeader,
.ui.menu.testDriveFooter {
    z-index: 10000002;
}

.ui.testDriveFooter {
    height: 60px !important;
}


/* --- CURSOR APPEARANCES --- */

a,
button,
.ui.button {
    cursor: pointer;
}