
extends ui_layout

block content
  -const actors = { "Co-Pilot": "/profile_pictures/convo_bot.png", "Mrs. Warren": "/profile_pictures/teacher.jpg", "Daniel Powers": "/profile_pictures/student.jpg", "Alfred Fluffington": "/profile_pictures/student2.jpg"}
  #content.eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column(style="display:none;")  
    each val in script
      include partials/actorPost
  #content.six.wide.computer.six.wide.tablet.column
    #activityMenu.ui.fluid.card(style="display:none;")
      .content
        .header Activity on POSTS (Live) 
        p(style="font-style:italic; margin-top: 10px;") Note: This is a live-stream. So, if you reload the page, this will be cleared.
      .content.activity-list
    include partials/chatbot
  .ui.small.basic.share.modal
    .ui.icon.header
      i.share.icon
      | You have shared this post!
    .actions(style="text-align:center;")   
      .ui.green.ok.inverted.button
        i.checkmark.icon
        | Done
  script#activity-template(type='text/x-handlebars-template').
    <div class="ui small feed yellow">
      <div class="content">
        <div class="summary">
          <p>{{name}} 
            <span style="font-weight:bold;">{{description}}</span> ("<span style="font-style:italic;">{{caption}}</span>")
            {{#if text}}
              : <span style="font-weight:bold; color: blue;">{{text}}</span>
            {{/if}}
          </p>
        </div>
      </div>
    </div>
  //- //-Mobile version of the notification popup
  //- .ui.fixed.bottom.sticky.notificationPopup.hidden#mobilePopup(correspondingpost=0)
  //-     .ui.info.message#removeHiddenMobile
  //-       i.close.icon
  //-       .ui.feed
  //-        .event
  //-          .label
  //-            img.popupNotificationImage(src='/profile_pictures/user39.jpg')
  //-          .content
  //-            .summary Thomas Rogers commented on Hannah Lee’s post: “I love ribs”.        
  //- //-notification popup
  //- .computer.only.tablet.only.two.wide.column
  //-   .ui.fixed.bottom.sticky.notificationPopup.hidden#desktopPopup(correspondingpost=0)
  //-    .ui.info.message#removeHidden
  //-      i.close.icon
  //-      .ui.feed
  //-       .event
  //-         .label
  //-           img.popupNotificationImage(src='/profile_pictures/user39.jpg')
  //-         .content
  //-           .summary Thomas Rogers commented on Hannah Lee’s post: “I love ribs”.

block scripts
  script().
    var numComments = !{JSON.stringify(numComments)};
  script(src='/postFunctionalities.js')
  script(src='/chatbot.js')

block styles
  link(rel='stylesheet', href='/index.css')
  link(rel='stylesheet', href='/chatbot.css')