
extends ui_layout

block content
  #content.fourteen.wide.computer.twelve.wide.tablet.sixteen.wide.mobile.column
    div(style="display:flex; flex-direction:column;")
      h3(style="margin:0px;") Select the corresponding scenario and role for the study link to share.
      table.ui.celled.stackable.table
        thead
          tr
            th(style="background:#F5F8FA")
            th Student Role 
            th Co-Pilot Role
        tbody
          each scenario in scenarios
            tr
              td(style="font-weight:bold;") !{scenario}
              td
                a(href="/"+scenario)="/"+ scenario
              td
                a(href="/"+scenario+"?copilot=true")="/"+scenario+"?copilot=true"
      h4 * Note: If you'd like to display the footer toggle, add "footer=true" as a query parameter to the end of the link.
  
block styles
  link(rel='stylesheet', href='home.css')